{% if request.user.is_authenticated and request.user.first_name %}
{% include 'navbar.html' %}
<div style="text-align:center">
    <h1>Заполните форму</h1>
    <form action="{% url 'transaction_result' %}">
        Ключ, кто отдает:
        <input type="text" name="key1">
        <br><br>
        Ключ, кто получает:
        <input type="text" name="key2">
        <br><br>
        Сумма (1 р. = 100):
        <input type="text" name="money">
        <br><br>
        <input type="submit" value="Next">
    </form>
 </div>
{% endif %}